<!DOCTYPE html>
<html>
    <head>
        <title>Calculadora de Soma</title>
    </head>
    <body style="text-align: center">
        <h1>Calculadora de Soma</h1>
        <form action="/add" method="post">
            <label for="num1">Número 1:</label>
            <input type="number" name="num1" required /><br /><br />
            <label for="num2">Número 2:</label>
            <input type="number" name="num2" required /><br /><br />
            <input type="submit" value="Somar" />
        </form>
    </body>
</html>
